<aside class="manu-lateral">


    <nav class="manu-lateral">
        <ul>

            <li class="item-menu">
                <a href="/">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                </a>
            </li>

            <li class="item-menu">
                <a href="/nao-alcoolicas"><span class="material-symbols-outlined"> no_drinks </span>
                    <p>NÃO ALCOOLICAS</p>
                </a>
                  </li>
                 <li class="item-menu">
                <a href="/alcoolica"><span class="material-symbols-outlined">sports_bar</span>
                    <p>ALCOOLICAS</p>
                </a>
                </li>
          
            <li class="item-menu">
                <a href="/carrinho">
                    <span class="icon"><i class="bi bi-cart4"></i></i></span>
                </a>
            </li>
            {{#if dataClient.permissao}}
            <li class="item-menu">
                <a href="/adm">
                    <span class="icon"><i class="bi bi-person-circle"></i></span>
                </a>
            </li>
            {{/if}}
            {{#if dataClient}}
            <li class="item-menu">
                <a href="/logout">
                    <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>

</aside>
