<header>
      <div class="titulo">ADEGA SENAI</div>
         {{#if dataClient}}
              <div class="welcome-message">seja bem vindo {{dataClient.nome}}</div>
              {{else}}
              <div class="cadastro"><a href="/cadastro" class="login">Cadastre-se/Login</a></div>
          {{/if}}
</header>