<header>

    {{#if dataClient}}
    <div class="message">
        <div class="titulo">ADEGA SENAI</div>

        <div class="welcome-message">Seja bem vindo! {{dataClient.nome}}</div>
    </div>

    {{else}}
    <div class="cadastro"><a href="/cadastro" class="login">Cadastre-se/Login</a></div>

    {{/if}}
</header>