<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    {{{_sections.styles}}}
<<<<<<< HEAD
</head>
<body>
    <nav>
        {{nav}}
    </nav>
=======
</head>

<body>
>>>>>>> 09ab43d307ebca6ad501c8229e8a81550049bc56
    <header>
        {{>menu}}
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        {{>footer}}
    </footer>
<<<<<<< HEAD
</body>

</html>
=======

</body>

</html>
>>>>>>> 09ab43d307ebca6ad501c8229e8a81550049bc56
