{{#section 'styles'}}
<link rel="stylesheet" href="css/adm.css">
{{/section}}

{{#if dataClient.permissao}}
    <div class='container'>
        <form action="/modifyPermission">
        </form>
    </div>
    {{else}}
    <H1>Pagina não permitida</H1>
{{/if}}