{{#section 'styles'}}
<link rel="stylesheet" href="css/cadastro.css">
{{/section}}

<h1>Cadastro</h1>
''
 {{#if returnMsg}}
     <p style="color:red;">Cpf já cadastrado em nosso banco de dados</p>
    {{else}}
    <p style="color: green;">Cadastro Realizado com sucesso</p>
  {{/if}}

<main class="container" id="container">
        <div class="form-container sign-up">
            <form action="clientRegister" method="post">
                <h1>Crie sua Conta </h1>
                <div class="social-icons">
                    <a href="#" class="icon">
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </div>
                <span>ou registre-se usando os seguintes critérios</span>
                <input type="text" placeholder="Nome" name="nome">
                <input type="text" placeholder="CPF" name="cpf">
                <input type="date"  name="dataNasc">
                <input type="email" placeholder="Email" name="Email">
                <input type="password" name="Senha" placeholder="Senha">
                <input type="submit" class="botao">
            </form>
        </div>

        <div class="form-container sign-in">
            <form id="loggin-form" action="loginEnter" method="post">
                <h1>Faça o login</h1>
                <div class="social-icons">
                    <a href="#" class="icon">
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </div>
                <span>ou use seu CPF e senha</span>
                <input type="text" placeholder="Digite seu CPF" name="cpf">
                <input type="password" placeholder="Digite sua senha" name="senha">
                <a class="forgetpass" href="#">Esqueceu sua senha?</a>
                <input class="botao" type="submit">
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bem vindo de volta!</h1>
                    <p>Realize o login com uma conta já existente para degustar de nossas maravilhosas bebidas</p>
                    <button class="hidden botao" id="login">
                        Entrar
                    </button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Seja bem vindo!</h1>
                    <p>Registre-se com os dados requisitados para degustar de todos os nossos produtos</p>
                    <button class="hidden botao" id="register">
                        Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </main>
