{{#section 'styles'}}
<link rel="stylesheet" href="css/home.css">
{{/section}}


<div class="carousel">
    <div class="slide">
        <img src="img/carrossel/img1.jpg" alt="Imagem 1">
    </div>
    <div class="slide">
        <img src="img/carrossel/img2.jpg" alt="Imagem 2">
    </div>
    <div class="slide">
        <img src="img9.png" alt="Imagem 3">
    </div>
</div>