{{#section 'styles'}}
<link rel="stylesheet" href="css/home.css">
{{/section}}

<h2>Adega Senai</h2>

<a href="/">Home</a>
<a href="/adm">ADM</a>
<a href="/alcoolica">Alcolicas</a>
<a href="/cadastro">Cadastro</a>
<a href="/carrinho"><i class="fa-solid fa-cart-shopping"></i></a>
<a href="/nao-alcoolicas">Nao alcolicas</a>

