

body{
  display: flex;
  justify-content: center;
  color: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1280' height='720' preserveAspectRatio='none' viewBox='0 0 1280 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1184%26quot%3b)' fill='none'%3e%3crect width='1280' height='720' x='0' y='0' fill='url(%23SvgjsLinearGradient1185)'%3e%3c/rect%3e%3cpath d='M 0%2c136 C 85.4%2c167.6 256.2%2c311.2 427%2c294 C 597.8%2c276.8 683.4%2c43.6 854%2c50 C 1024.6%2c56.4 1194.8%2c270.8 1280%2c326L1280 720L0 720z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c579 C 128%2c548 384%2c410.4 640%2c424 C 896%2c437.6 1152%2c602.4 1280%2c647L1280 720L0 720z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1184'%3e%3crect width='1280' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1185'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}



header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 145, 255);
  position: fixed;
  width: 100%;
  height: 10vh;
  font-family: cursive;

}

.titulo{
  font-family: ravie;
  color: red;

  
}


.cadastro {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
}
.titulo .welcome-message {
    position: absolute;
    top: 0;
    right: 0;
    left: 0px;
    width: 20px;
    height: 20px;
    margin: 8px;
  

}
.message{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 20%;
  gap: 50%;
 

}
.welcome-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #ff0000;
  font-size: 2em; color: #0a0a0a;
}

.login {
  text-transform: uppercase;
  font-size: 1.2em;
  text-decoration: none;
  color: black;

}

nav.manu-lateral{
  position: fixed;
  width: 160px;
  height: 100%;
  background-color: #000000;
  box-shadow: 3px 0 0 #898989;
  top: 0;
  left: 0;

}

ul{
  height: 100%;
  list-style-type: none;
}

ul li.item-menu a{
  display: flex;
  text-decoration: none;
  justify-content: center;
  color: white;
  padding: 20px 1%;
  margin-bottom: 20px;
  line-height: 30px;
}

ul li.item-menu:hover{
  display: flex;
  justify-content: center;
  background-color: #646464 ;
  border-radius: 5px;
}

ul li.item-menu a .icon > i{
font-size: 30px;
}

ul{
  padding: 0%;
}
a{
  display: flex;
  align-items: center;
  
}
